<!DOCTYPE html>
<html lang="tr">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Anasayfa | iMarket</title>
		<link rel="shortcut icon" href="assets/images/logo/favourite_icon_01.png">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/fontawesome.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/animate.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/nice-select.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/slick.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="app/app/assets/stylesheet/style.css">

	</head>


	<body class="home_classic_ecommerce">
    <div class="content">
      <div class="ortala">
		<!-- header_section - start
		================================================== -->
		<header class="header_section classic_ecommerce_header sticky_header clearfix">
			<div class="header_top bg-info text-white clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<span class="offer_text">150₺ ve üzeri Yurtiçi Siparişlerde Kargo Bedava</span>
						</div>
						<div class="col-lg-6">
							<ul class="primary_social_links ul_li_right clearfix">
								<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href=""><i class="fab fa-instagram"></i></a></li>
								<li><a href=""><i class="fab fa-google-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="header_bottom clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="brand_logo">
								<a class="brand_link" href="">
									<%= image_tag "logo.png", class:"1x", style:"max-width:200px;" %>
								</a>

								<ul class="mh_action_btns ul_li clearfix">
									<li>
										<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
											<i class="fal fa-search"></i>
										</button>
									</li>
									<li>
										<button type="button" class="cart_btn">
											<i class="fal fa-shopping-cart"></i>
											<span class="btn_badge">6</span>
										</button>
									</li>
									<li><button type="button" class="mobile_menu_btn"><i class="far fa-bars"></i></button></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li class="menu_item_has_child">
										<a href="">Kategoriler</a>
										<div class="mega_menu">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<div class="row mt__30">
														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Televizyon</h3>
																<ul class="ul_li_block">
																	<li><a href="">LED</a></li>
																	<li><a href="">LCD</a></li>
																	<li><a href="">Curved</a></li>
																	<li><a href="">4K</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Bilgisayarlar</h3>
																<ul class="ul_li_block">
																	<li><a href="">Notebook</a></li>
																	<li><a href="">All in One</a></li>
																</ul>
															</div>

														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Tabletler</h3>
															</div>

															<div class="page_links">
																<h3 class="title_text">E-Kitaplar</h3>
															</div>

															<div class="page_links">
																<h3 class="title_text">Telefonlar</h3>
																<ul class="ul_li_block">
																	<li><a href="">Akıllı Telefonlar</a></li>
																	<li><a href="">Oyun Telefonları</a></li>
																</ul>
															</div>
														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">OEM Birimleri</h3>
																<ul class="ul_li_block">
																	<li><a href="">Ekran Kartı</a></li>
																	<li><a href="">RAM</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Ev Eşyaları</h3>
																<ul class="ul_li_block">
																	<li><a href="">Beyaz Eşyalar</a></li>
																	<li><a href="">Ev Alet Gereçleri</a></li>
																</ul>
															</div>
														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Banyo Gereçleri</h3>
																<ul class="ul_li_block">
																	<li><a href="">Termosifon</a></li>
																	<li><a href="">Elektrikli Diş Fırçaları</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Drone</h3>
																<ul class="ul_li_block">
																	<li><a href="">Kablolu Dronelar</a></li>
																	<li><a href="">360 Dronelar</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">E-Scooter</h3>
																<ul class="ul_li_block">
																	<li><a href="">Hoverboard</a></li>
																	<li><a href="">E-Bys</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="menu_item_has_child">
										<a href="">Kampanyalar</a>
										<ul class="submenu">
											<li class="menu_item_has_child">
												<a href="">Ramazan'a Özel Fırsatlar</a>
												<ul class="submenu">
													<li><a href="">Apple Cihazlar</a></li>
													<li><a href="">Mutfak Gereçleri</a></li>
													<li><a href="">Ev Aletleri</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="">İletişim</a></li>
								</ul>
							</nav>
						</div>

						<div class="col-lg-3">
							<ul class="action_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
										<i class="fas fa-search fa-fw"></i>
									</button>
								</li>
								<li>
									<button type="button" class="user_btn" data-toggle="collapse" data-target="#use_deropdown" aria-expanded="false" aria-controls="use_deropdown">
										<i class="fa-regular fa-user"></i>
									</button>
									<div id="use_deropdown" class="collapse_dropdown collapse">
										<div class="dropdown_content">
											<div class="profile_info clearfix">
												<div class="user_thumbnail">
													<img src="assets/images/meta/img_01.png" alt="thumbnail_not_found">
												</div>
												<div class="user_content">
													<h4 class="user_name">Ufuk Canatan</h4>
													<span class="user_title">Müşteri</span>
												</div>
											</div>
											<ul class="settings_options ul_li_block clearfix">
												<li><a href=""><i class="fal fa-user-circle"></i> Profil</a></li>
												<li><a href=""><i class="fal fa-user-cog"></i> Ayarlar</a></li>
												<li><a href=""><i class="fal fa-sign-out-alt"></i> Çıkış Yap</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<button type="button" class="cart_btn bg-info">
									
									<% if current_user.present? %>
									<%= link_to cart_index_path do%>
										<span class="btn_badge"><%=current_user.current_cart.posts.count%></span>
										<i class="fa-solid fa-cart-shopping"></i>
									<% end %>
									<% else %>
										<%= link_to cart_index_path do%>
											<i class="fa-solid fa-cart-shopping"></i>
										<% end %>
										
									<% end %>
							
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="search_body_collapse" class="search_body_collapse collapse">
				<div class="search_body">
					<div class="container">
						<form action="#">
							<div class="form_item mb-0">
								<input type="search" name="search" placeholder="Keşfetmeye Başla">
								<button type="submit"><i class="fal fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->

		<!-- main body - start
		================================================== -->
		<main>


			<!-- checkout_section - start
			================================================== -->
			<section class="checkout_section sec_ptb_140 clearfix">
                <div class="row">
                    <div class="row d-flex justify-content-center p-4">
                        <h3 class="ml-5">Adres Bilgileri</h3><hr>
                        <div class="col-lg-5">
                            <div class="card card-info text-dark">
                                <div class="card-header">
                                    <h3 class="card-title">Fatura & Teslimat Adres Bilgileri</h3>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="mb-n2 kart-label-yeni" for="" style="">İsim</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="mb-n2 kart-label-yeni">Soyisim</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="form-group col-lg-6 kart-label-yeni">
                                                <label class="mb-n2">Ülke (Select-Option)</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="form-group col-lg-6 kart-label-yeni">
                                                <label class="mb-n2">Adres</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        
                                        <hr>

                                        <div class="row">
                                            <div class="form-group col-lg-4 kart-label-yeni">
                                                <label class="mb-n2">Şehir/İl</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            
                                            <div class="form-group col-lg-4 kart-label-yeni">
                                                <label class="mb-n2">İlçe</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            
                                            <div class="form-group col-lg-4 kart-label-yeni">
                                                <label class="mb-n2">Posta Kodu</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">

                                            <div class="col-lg-6"> 
                                                <div class="form-group col-lg-12 kart-label-yeni">
                                                    <label class="mb-n2">Telefon</label>
                                                    <input type="tel" class="form-control" id="" placeholder="">
                                                </div>
                                            
                                                <div class="form-group col-lg-12 kart-label-yeni">
                                                    <label class="mb-n2">E-Posta Adresi</label>
                                                    <input type="mail" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">       
                                                <div class="form-group kart-label-yeni">
                                                    <label class="mb-n2">Not</label>
                                                    <textarea class="form-control" rows="3" placeholder="Eklemek istediğiniz bir not bırakın ör: Kargo temassız teslim edilsin."></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="form-control" style="width: 260px">
                                            <div class="form-check">
                                                <small><input type="checkbox" class="form-check-input" id="fatura">
                                                <label class="form-check-label" for="fatura">&nbsp;<strong>Adres bilgilerimi</strong> kaydet.</label></small>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row d-flex justify-content-center p-4">
                        <h3 class="ml-5">Ödeme Bilgileri</h3><hr>
                        <div class="col-lg-4">
                            <div class="card card-info text-black">
                                <div class="card-header">
                                    <h3 class="card-title">Kart Bilgileri</h3>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="mb-n2 kart-label-yeni">Kart Numarası</label>
                                            <input type="text" class="form-control" id="" placeholder="12 Haneli Kart Numaranızı Giriniz">
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="mb-n2 kart-label-yeni">Son Kullanma Tarihi</label>
                                                <div class="d-flex justify-content-start">
                                                    <input type="text" class="form-control" style="width: 80px" id="" placeholder="Ay">
                                                    <input type="text" class="form-control ml-4" style="width: 80px" id="" placeholder="Yıl">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6" style="">
                                                <label class="d-flex justify-content-end mb-n1 kart-label-yeni" style="margin-right: 50px" for="">CVV</label>
                                                <div class="d-flex justify-content-end">
                                                    <input type="text" class="form-control" style="width: 80px" id="" placeholder="___">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-control" style="width: 218px">
                                            <div class="form-check">
                                                <small><input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1"><i class="fa-solid fa-lock"></i>&nbsp;<strong>3D Secure</strong> ile ödemek istiyorum.</label></small>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="col-lg-4">
                            <div class="card card-success text-black">
                                <div class="card-header">
                                    <h3 class="card-title">Sipariş Özeti</h3>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="mb-n2 kart-label-yeni">Ara Toplam</label>
                                            <p>1129.00 TL</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-n2 kart-label-yeni">Kargo Toplam</label>
                                            <p>17.00 TL</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-n2 kart-label-yeni text-success">Kampanya İndirimi (ufakbeg2)</label>
                                            <p class="text-success"><del>-100.00 TL</del></p>
                                        </div>
                                        <hr>
                                        <div class="form-group d-flex justify-content-between">
                                            <div>
                                                <label class="mb-n2 kart-label-yeni">Toplam</label>
                                                <p class="text-orange">1046.00 TL</p>
                                            </div>
                                            <div class="">
                                                <a class="btn btn-success btn-xl mt-3 border-success">Ödeme Yap</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>

                            <div class="card card-orange text-black">
                                <div class="card-header">
                                    <h3 class="card-title">Kart Bilgileri</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <small><input type="checkbox" class="form-check-input" id="exampleCheck2">
                                        <label class="form-check-label" for="exampleCheck2"><i class="fa-solid fa-lock"></i>&nbsp;<strong>Ön Bilgilendirme Koşulları'nı </strong> ve <strong>Satış Sözleşmesi'ni</strong> okudum, kabul ediyorum.</label></small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>                    
                </div>
			</section>


		</main>
		
	</body>
</html>
